@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-display: "Montserrat", sans-serif;

  --color-rptra-teal: #088395;
  --color-rptra-blue: #017BC4;
  --color-rptra-bg-light: #EBF4F6;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@layer components {
  .container {
    max-width: 1280px !important; 
  }
}